html {
  /*font-size: 16px;*/
}

body {
  /*fluid typsetting*/
  font-size: 62.5%; /*16px>10px for easier me calculation*/
  margin: 0px;
}

header {

}

h1 {
  font-size: 3.2em;
}

h3 {
  font-size: 1.87333em;
}

li, p, img {
   font-size: 1.6em;
 }

 ul {
   list-style: none;
 }
