html {
  font-size: 110%;
}

body {

  color: #9caeb4;
  background-color:#1b2428;
  margin: 0px;

}

header {
  margin: 10px;
  padding: 5px 20px;
}

.logo {
  float: left;
}

.location {
  float: left;
}

.contact {
  float: right;
}

.share {
  color: white;
  font-family: serif;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  height: 50px;
  width: 50px;
  margin-right: 5px;
  background-color: #45acf4;
  border-radius: 5px;
}

.separator {
  clear: both;

}

section {
  text-align: center;
  margin: 10px;
  padding: 5px 20px;
}

.panels {
  background-color: #253336;
  border-radius: 5px;

}

h1 {
  font-family: 'Sonsie One', cursive;
  font-size: 4em;
  color: #e3a01f;
}

h2 {
  font-family: 'Sigmar One', cursive;
  font-size: 1.414em;
  color: #e3a01f;
}
h3 {
  font-family: 'Sigmar One', cursive;
  font-size: 1.17072125em;
  color: #007b8c;
}
